<% include ./headpartial.ejs %>
    <h1>Hello World</h1>
    <div id='map-canvas'></div>
    
    <h6>Up Pin</h6>
    <button class = "pinMakerButton" id="Ubutton">Bump it</button>
    
    <h6>Down Pin</h6>
    <button class = "pinMakerButton" id="Dbutton">Drop it</button>

    <h6>Event: </h6>
  <div class="responses" id="responseArea"></div>
<% include ./footpartial.ejs %>